@using Skclusive.Core.Component
@using Skclusive.Material.Drawer
@using Skclusive.Material.Core

@inherits LayoutComponentBase
<div Style="flex-grow: 1;">
    <PageHeader LeftMenuOnClickCallback="@HandleLeftMenuClick"/>
    <LeftNavBar @ref="child"/>
    <main class="responsive-content">
        @Body
    </main>
</div>

@code {
    LeftNavBar child;

    private void HandleLeftMenuClick()
    {
        child.OpenLeft();
    }
} 