<div class="demo-list-root">
    <List Component="nav"
          aria-label="app menu">     
        <ListItem Button
                  Component="a"
                  href="">           
            <ListItemText Primary="Home" />
        </ListItem>
        <ListItem Button
                  Component="a"
                  href="counter">
            <ListItemText Primary="Counter" />
        </ListItem>
        <ListItem Button
                  Component="a"
                  href="fetchdata">
            <ListItemText Primary="Fetch data" />
        </ListItem>
    </List>
    <Divider />
</div>